footer {
<<<<<<< HEAD
	position: fixed;
	bottom: 0;
	background-color: white;
	height: 60px;
	width: 100%;
	text-align: center;
	line-height: 30px;
	border-top: 1px solid #CCCCCC;
=======
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
>>>>>>> 36b56ffa1fd79c4b54a506f4ab42f55fa2dfc3b9
}
