header {
<<<<<<< HEAD
	background-color: white;
	height: 70px;
	width: 100%;
	
	border-bottom: 1px solid #CCCCCC;
}

#header_logo {
	height: 100%;
	width: 142px;

	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: center;

	margin-left: 20px;
=======
  background: #ffffff url("../images/logo.png") 20px no-repeat;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
>>>>>>> 36b56ffa1fd79c4b54a506f4ab42f55fa2dfc3b9
}
